body {
  text-align: center;
  align-items: center;
}
header {
  text-align: center;
  margin: 3rem 0;
}

header img {
  height: 350px;
  width: 500px;
  /* object-fit: cover; */
}

header h1 {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 5rem;
  background: linear-gradient(
    39deg,
    rgba(238, 167, 21, 1) 25%,
    rgba(248, 250, 246, 0.986),
    rgba(130, 241, 46, 0.986) 69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

header p {
  margin: 0;
  font-size: 1.25rem;
  color: #8964b0;
  font-family: "Roboto Condensed", sans-serif;
}

#core-concepts ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

#core-concepts li {
  width: 10rem;
  text-align: center;
}

#core-concepts li img {
  height: 4rem;
  width: 6rem;
  /* object-fit: cover; */
}

#core-concepts li h3 {
  margin: 0.5rem 0;
}
#core-concepts li #med {
  height: 2rem;
  width: 3rem;
}
#core-concepts li p {
  font-size: 0.9rem;
}
#core-concepts {
  padding: 2rem;
  border-radius: 6px;
  background-color: #08044a;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}
menu button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;

  color: #a18aba;
  background-color: #08044a;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
/* menu button:hover {
  background-color: #dfc7f9;
  color: #10031d;
} */
menu button.active {
  background-color: #04525c;
  color: #ebe7ef;
}
#gif {
  width: 550px;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 5px rgb(5, 74, 79);
}
#tab-content {
  padding: 1rem;
  border-radius: 6px;
  background-color: #2f1d43;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#tab-content h3 {
  margin: 0;
}
